body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: manipulation !important;
}	

.draft {
    background-color:#1BA1E2;
    background-image:url('../imgs/draft.png');
}
.bottle {
    background-color:#00ABA9;
    background-image:url('../imgs/bottle.png');
}
.food {
    background-color:#A200FF;
    background-image:url('../imgs/food.png');
}
.na {
    background-color:#E771BD;
    background-image:url('../imgs/na.png');
}
.util {
    background-color:#a05000;
    background-image:url('../imgs/util.png');
}
.items {
    color:#FFF;
    width:128px;
    height:128px;
    margin:8px;
    cursor:pointer;
    background-repeat:no-repeat;
    position:relative;
}
td,th {
    padding: 6px;
    text-align: left;
    font-size:20px;
}

.jumbotron h1 {
    font-size:54px;
}

.itemprice {
    font-size:10px;
    float:right;
}

.itemqty {
    font-weight:bold;
}

@media print {
  .vis-print  { display: block !important; }
  .btn { width: 100%; padding:5px; }
  #purchasedItems, #purchasedItemsDiv { width: 100%; padding:5px; margin-top:5px; }
  .itemholder { width:100%;}
  .receiptrow {width:100%;}
  li { width:100%;}
  .col-xs-7, .col-sm-4, .sidebar-offcanvas {width:100%;}
}