body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: manipulation !important;
    background-color: #e6e6e6;
}	

.nav-tabs>li.active >a {
    font-weight: bold !important;
    text-decoration: underline !important;;
}
.nav-tabs>li>a {
    text-align: center !important;
}
.draft {
    background-color:#337ab7;
    background-image:url('../imgs/draft.png');
}
.tab_draft >a {
    background-color:#337ab7 !important;
    color:#e6e6e6 !important;
}
.bottle {
    background-color:#5bc0de;
    background-image:url('../imgs/bottle.png');
}
.tab_bottle >a {
    background-color:#5bc0de !important;
    color:#e6e6e6 !important;
}
.food {
    background-color:#5cb85c;
    background-image:url('../imgs/food.png');
}
.tab_food >a {
    background-color:#5cb85c !important;
    color:#e6e6e6 !important;
}
.na {
    background-color:#f0ad4e;
    background-image:url('../imgs/na.png');
}
.tab_na >a {
    background-color:#f0ad4e !important;
    color:#e6e6e6 !important;
}
.util {
    background-color:#d9534f;
    background-image:url('../imgs/util.png');
}
.tab_util >a {
    background-color:#d9534f !important;
    color:#e6e6e6 !important;
}

.tab_all >a {
    background-color:#fff !important;
    color:#333 !important;
}
.special {
    background-image:url('../imgs/special.png') !important;
}


h2 { 
    font-size:28px !important;
    position: relative; 
    min-height:100px; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.squareprice { font-size: 20px; position: absolute; bottom: 0; width:100px; text-align: center;}
.items {
    color:#FFF;
    width:128px;
    height:128px;
    margin:8px;
    cursor:pointer;
    background-repeat:no-repeat;
    position:relative;
    text-align: center;
    background-size: cover;
}
td,th {
    padding: 6px;
    text-align: left;
    font-size:20px;
}

.jumbotron h1 {
    font-size:54px;
}

.itemprice {
    font-size:10px;
    float:right;
}

.itemqty {
    font-weight:bold;
}

@media print {
  .vis-print  { display: block !important; }
  .btn { width: 100%; padding:5px; }
  #purchasedItems, #purchasedItemsDiv { width: 100%; padding:5px; margin-top:5px; }
  .itemholder { width:100%;}
  .receiptrow {width:100%;}
  li { width:100%;}
  .col-xs-7, .col-sm-4, .sidebar-offcanvas {width:100%;}
}